body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container1 {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(165, 224, 185);
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container2 {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(224, 171, 158);
    border: 2px solid red;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .budget input[type="number"],
  .expenses input[type="text"],
  .expenses input[type="number"],
  .expenses button {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .budget button {
    background-color: #A3E4D7;
    color:green;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  .expenses button {
    background-color:#F5B7B1;
    color: red;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  
  .result {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .expenses-list {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .expenses-list li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .expenses-list li .delete-icon {
    cursor: pointer;
  }